body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#title{ text-align: center; 
        font-size: 30px; 
        display: inline; }
#emoji{ width: 25%;
        margin: 0 auto; 
        margin-top: -1.5%; 
        display: flex; } 
#soccer{ width: 25%;
         margin-top: -19.5%;
         margin-right: 450pt; 
         display: flex; }
#grind{ width: 20%;
        margin-left: 80%; 
        margin-top: -22.76%;
        display: flex; }
#welcome{ text-align: center;
          margin-top: 1%; }
