#blog{ border: 1px solid black; }


#top{ text-align: center; 
      font-size: 30px; 
      border-style: dashed; } 
#thisismyblog{ margin-top: -2%; 
               margin-bottom: 2%; }

#emoji{ width: 25%; 
        display: block;
        margin: 0 auto; 
        margin-top: -2%; 
        display: flex; }
#soccer{ width: 22%;
         margin-top: -19%; 
         margin-right: 450pt; 
         display: flex; }
#grind{ width: 20%;
        margin-left: 80%; 
        margin-top: -24%;
        display: flex; }

#body1{ text-align: center; 
        border-style: groove; 
        font-family: 'Saira Semi Condensed', sans-serif; }
#quote{ text-align: center; 
        border-style: groove; 
        padding: 5px; 
        font-family: 'Yellowtail', cursive;
        font-size: 20px; }
#body3{ text-align: left; 
        border-style: groove; 
        font-family: 'Saira Semi Condensed', sans-serif; }

#footer{ border-style: dashed; }
#footer1{ text-align: center;
          color: red; 
          font: bold; }
#blogpic{ width: 35%;
          display: flex-right; 
          height: 400px; }
#footer2{ font-size: 80px; 
          color: blue; 
          text-align: center; }
